
@import './utils/fonts';

@import './utils/variables';

@import './base';

@import './utils/utils';

@import './components/buttons';

@import './components/links';

@import './layout/header';

@import './components/hero-section';

@import './components/advantages';

@import './components/traditions'; 

@import './components/chefs-section';

@import './components/formats-section';

@import './components/carousel-button';

@import './components/contacts-section';

@import './layout/footer';

@import './components/modal-window';

@import './layout/form';

.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
}